@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 768px) and (max-width: 2520px) {

  /* Apply Woo's scrollbar style */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #664481;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7455ff;
  }
}

/* styles/StarRating.module.css */
.star-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: #d3d3d3;
}

.star {
  cursor: pointer;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

.responsiveItem {}

.responsiveItem-one {
  display: none;
}

@media screen and (max-width: 1466px) {
  .responsiveItem-one {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .responsiveItem {
    display: none;
  }

  .responsiveItem-one {
    display: flex;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .responsiveItem-one {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
}

/* Optionally, customize the option elements if the browser supports it */
option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #664481;
}

.toggle-checkbox:checked+.toggle-label {
  @apply: bg-green-400;
  background-color: #664481;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.mySwiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper1 {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper1>.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper1 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 4px;
}

.mySwiper1 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.8;
}

.mySwiper1 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper1>.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-hidden {
  display: flex;
}

@media (min-width: 1024px) {
  .list-hidden {
    display: none;
  }
}